/* Resete */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
  font-family: "Montserrat", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
}

:root {
  --green-50: hsl(141deg 75% 90%);  /* hsl - Hue, Saturation e lightness */
  --green-100: hsl(141deg 75% 85%);
  --green-100-25: hsl(141deg 75% 80% / 25%);
  --green-200: hsl(141deg 75% 70%);
  --green-300: hsl(141deg 75% 60%);
  --green-400: hsl(141deg 75% 50%);
  --green-400-25: hsl(141deg 75% 50% / 25%);
  --green-500: hsl(141deg 75% 45%);
  --green-600: hsl(141deg 75% 35%);
  --green-700: hsl(141deg 75% 25%);
  --green-800: hsl(141deg 75% 15%);
  --green-800-25: hsl(141deg 75% 15% / 85%);
  --green-900: hsl(141deg 75% 10%);
  --green-950: hsl(141deg 75% 5%);
  --green-1000: hsl(141deg 75% 2.5%);
  --green-1000-50: hsl(141deg 75% 2.5% / 50%);

  --transition-duration: 200ms;
  --transition-function: ease;

  --border-radius-s: 5px;
  --border-radius-m: 10px;
  --border-radius-1: 15px;
  
}

#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Header */
.header {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__link:hover {
  text-decoration: underline;
}

/* Main */
.main {
  border-radius: 15px;
  padding: 20px;
  margin: 0 10px 10px;
  flex: 1;
  background-image: linear-gradient(to bottom, var(--green-900), var(--green-1000));
  display: flex;
  flex-direction: column;
  gap: 40px;
}

/* ItemList */
.item-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.item-list__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item-list__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

/* SingleItem */
.single-item {
  padding: 25px 16px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 15px;
  align-items: center;
  transition: background-color ease 200ms;
}

.single-item:hover  {
  background-color: var(--green-900);
  text-decoration: none;
}

.single-item:hover .single-item__icon {
  opacity: 100%;
  transform: translateY(0);
}

.single-item__div-image-button {
  position: relative;
}

.single-item__div-image {
  width: 140px;
  height: 140px;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.single-item__icon {
  position: absolute;
  font-size: 50px;
  right: 7.5px;
  bottom: 7.5px;
  color: var(--green-400);
  opacity: 0;
  transform: translateY(100%);
  transition-timing-function: ease;
  transition-duration: 200ms;
  transition-property: opacty, transform;
}

.single-item__icon--artist {
  position: fixed;
  opacity: 1;
  transform: translateY(0);
  right: 25px;
  bottom: 25px;
}

.single-item__title {
  font-weight: 600;
}

.single-item__type {
  font-size: 13px;
}

.single-tem__texts {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.single-item__2lines {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  box-orient: vertical;
  overflow: hidden;
}